// ancho maximo template
$gutter: 0.96rem;
$max-width: 1250px;
$font: unquote("'Raleway', sans-serif");
$default-color: #050023;

$no-line-height: 1;
$border-radius: 30px;

$rem: 0.5rem;
$remtext: 0.5rem;

// maximo de col de grilla
$maxcol: 12;
// viewport brakpoint
$vp: (
	"sm": 540px,
	"md": 720px,
	"lg": 960px,
	"xl": 1140px,
);
$col: (
	"n": 16,
	"g": 6,
);
//margenes

// colores
$colorMap: (
	pokemon: #2d6ab3,
	back: #f2f2f2,
	pokeredbase: #f63b00,
	pokered: #e1363a,
	pokereddark: #b11f29,
	pokesearch: #39cafc,
	pokelight: #cee1e7,
	pokeyellow: #ffcb15,
	pokegrayone: #e7e7e7,
	pokegraytwo: #c5cccf,
	white: #fff,
	pokegraythree: #263238,
	success-color: green,
);

$spaceMap: (
	0: 0,
	xxxs: $rem / 2,
	xxs: $rem,
	xs: $rem * 1.5,
	s: $rem * 2,
	m: $rem * 3,
	l: $rem * 4,
	xl: $rem * 6,
	xxl: $rem * 9,
	xxxl-a: $rem * 17,
	xxxl: $rem * 20,
	xxxxl: $rem * 22.5,
);

//font-size
$textSizeMap: (
	xxs: $remtext + 0.1rem,
	//10px
	xs: $remtext + 0.3rem,
	//12px
	s: $remtext * 2,
	//16px
	m: $remtext * 3,
	//24px
	l: $remtext * 4,
	//32
	xl: $remtext * 6,
	//48
	xxl: $remtext * 9,
	//72
);

//font-weight
$textWeightsMap: (
	regular: 200,
	light: 300,
	medium: 500,
	bold: 700,
	bolder: 900,
);

$tokens: (
	color: $colorMap,
	textSize: $textSizeMap,
	textWeight: $textWeightsMap,
);
